@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FacebookFont";
  src:
    url("./fonts/your-facebook-font.woff2") format("woff2"),
    url("./fonts/your-facebook-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
  }

  body {
    background-image: linear-gradient(
      85.2deg,
      rgb(21, 4, 24) 7.5%,
      rgb(48, 7, 48) 88.7%
    );
    @apply text-white min-h-screen font-inter;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "FacebookFont", sans-serif;
    background-attachment: fixed;
    /* overflow: hidden !important; */
  }
}

/* Custom scrollbar styles */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: rgba(107, 114, 128, 0.5) rgba(17, 24, 39, 0.5);
}

/* Firefox */
.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: rgba(17, 24, 39, 0.5);
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128, 0.5);
  border-radius: 0.25rem;
  border: 3px solid rgba(17, 24, 39, 0.5);
}

.shake:hover {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }
}

@media (width < 750px) {
  .custom-scrollbar::-webkit-scrollbar {
    display: none;
    width: 3px;
    height: 3px;
    border-radius: 2px;
    background: #9c9c9c;
  }

  .tooltip {
    visibility: hidden;
    width: 85px;
    text-align: center;
    padding: 1px;
  }
}

@layer utilities {
  /* TYPOGRAPHY */
  .h1-bold {
    @apply text-[36px] font-bold leading-[140%] tracking-tighter;
  }

  .h1-semibold {
    @apply text-[36px] font-semibold leading-[140%] tracking-tighter;
  }

  .h2-bold {
    @apply text-[30px] font-bold leading-[140%] tracking-tighter;
  }

  .h3-bold {
    @apply text-[24px] font-bold leading-[140%] tracking-tighter;
  }

  .base-semibold {
    @apply text-[16px] font-semibold leading-[140%] tracking-tighter;
  }

  .base-medium {
    @apply text-[16px] font-medium leading-[140%];
  }

  .base-regular {
    @apply text-[16px] font-normal leading-[140%];
  }

  .body-bold {
    @apply text-[18px] font-bold leading-[140%];
  }

  .body-medium {
    @apply text-[18px] font-medium leading-[140%];
  }

  .small-semibold {
    @apply text-[14px] font-semibold leading-[140%] tracking-tighter;
  }

  .small-medium {
    @apply text-[14px] font-medium leading-[140%];
  }

  .small-regular {
    @apply text-[14px] font-normal leading-[140%];
  }

  .subtle-semibold {
    @apply text-[12px] font-semibold leading-[140%];
  }

  .tiny-medium {
    @apply text-[10px] font-medium leading-[140%];
  }

  /* UTILITIES */
  .invert-white {
    @apply invert brightness-0 transition;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  /* 
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  } */

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }

  .common-container {
    @apply flex flex-col flex-1 items-center gap-10 overflow-scroll py-10 px-5 md:px-8 lg:p-14 custom-scrollbar;
  }

  /* All Users */
  .user-container {
    @apply max-w-5xl flex flex-col items-start w-full gap-6 md:gap-9;
  }

  .user-grid {
    @apply w-full grid grid-cols-1 xs:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-7 max-w-5xl;
  }

  /* Explore */
  .explore-container {
    @apply flex flex-col flex-1 items-center overflow-scroll py-10 px-5 md:p-14 custom-scrollbar;
  }

  .explore-inner_container {
    @apply max-w-5xl flex flex-col items-center w-full gap-6 md:gap-9;
  }

  /* Home */
  .home-container {
    @apply flex flex-col flex-1 items-center gap-10 overflow-scroll py-10 px-5 md:px-8 lg:p-14 custom-scrollbar;
  }

  .home-posts {
    @apply max-w-screen-sm flex flex-col items-center w-full gap-6 md:gap-9;
  }

  .home-creators {
    /* background-image: linear-gradient(111.4deg, rgba(7, 7, 9, 0.485) 6.5%, rgba(27, 24, 113, 1) 93.2%); */
    @apply hidden xl:flex flex-col w-72 2xl:w-465 px-6 py-10 gap-10 overflow-scroll custom-scrollbar;
  }

  /* Post Details */
  .post_details-container {
    @apply flex flex-col flex-1 gap-10 overflow-scroll py-10 px-5 md:p-14 custom-scrollbar items-center;
  }

  .post_details-card {
    background: rgba(5, 4, 2, 0.369);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(179, 162, 162, 0.1);
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
    border: 1px solid rgba(5, 4, 2, 0.055);
    @apply w-full max-w-5xl rounded-[30px] flex-col flex xl:flex-row border xl:rounded-l-[24px];
  }

  .post_details-img {
    @apply h-full xl:w-[48%] rounded-t-[30px] xl:rounded-l-[24px] xl:rounded-tr-none object-cover p-5;
  }

  .post_details-video {
    @apply h-full lg:h-[480px] xl:w-[48%] rounded-t-[30px] xl:rounded-l-[24px] xl:rounded-tr-none object-cover p-5;
  }


  .post_details-info {
    @apply flex flex-col gap-5 lg:gap-7 flex-1 items-start p-8 rounded-[30px];
  }

  .post_details-delete_btn {
    @apply p-0 flex gap-3 hover:bg-transparent hover:text-light-1 text-light-1 small-medium lg:base-medium;
  }

  /* Profile */
  .profile-container {
    @apply flex flex-col items-center flex-1 gap-10 overflow-scroll py-10 px-5 md:p-14 custom-scrollbar;
  }

  .profile-inner_container {
    @apply flex items-center md:mb-8 xl:items-start gap-8 flex-col xl:flex-row relative max-w-5xl w-full;
  }

  .profile-tab {
    background: rgba(5, 4, 2, 0.203);
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
    @apply flex-center gap-3 py-4 w-48 transition flex-1 xl:flex-initial;
  }

  /* Saved */
  .saved-container {
    @apply flex flex-col flex-1 items-center gap-10 overflow-scroll py-10 px-5 md:p-14 custom-scrollbar;
  }

  /* Bottom bar */
  .bottom-bar {
    @apply z-50 flex justify-between w-full sticky bottom-0 backdrop-blur-xl rounded-t-[20px] px-5 py-1 md:hidden;
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgb(85, 38, 97) 0%,
      rgb(44, 5, 44) 90%
    );
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  }

  .bottombar-link {
    @apply flex flex-col items-center gap-1 p-2 transition;
  }

  .bottombar-link:hover,
  .bottombar-link.active {
    color: #fff;
    transform: scale(1.05);
  }

  .bottombar-link svg {
    transition: transform 0.3s ease-in-out;
  }

  .bottombar-link:hover svg,
  .bottombar-link.active svg {
    transform: rotate(15deg);
  }

  .horizontal-indicator {
    position: absolute;
    bottom: 0;
    height: 4px;
    background: rgb(224, 9, 73);
    border-radius: 20% !important;
    transition:
      left 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55),
      width 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    z-index: 3;
    transform-origin: left center;
  }

  /* File uploader */
  .file_uploader-img {
    @apply h-80 lg:h-[480px] w-full rounded-[24px] object-cover object-top;
  }

  .file_uploader-label {
    @apply text-light-4 text-center small-regular w-full p-4 border-t border-t-dark-4;
  }

  .file_uploader-box {
    @apply flex-center flex-col p-7 h-80 lg:h-[612px];
  }

  /* Grid Post List */
  .grid-container {
    @apply w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-7 max-w-5xl;
  }

  .grid-post_link {
    @apply flex rounded-[24px] border border-dark-4 overflow-hidden cursor-pointer w-full h-full;
  }

  .grid-post_user {
    @apply absolute bottom-0 p-5 flex-between w-full bg-gradient-to-t from-dark-3 to-transparent rounded-b-[24px] gap-2;
  }

  /* Left sidebar */
  .leftsidebar {
    @apply hidden md:flex px-6 py-10 flex-col justify-between min-w-[270px];
    position: relative;
    height: 100vh;
    color: #fff;
  }

  .leftsidebar-link {
    background-image: none;
    @apply rounded-lg base-medium;
    position: relative;
    transition:
      color 0.3s ease-in-out,
      transform 0.3s ease-in-out;
    color: #a68bff;
    display: flex;
    align-items: center;
  }

  .leftsidebar-link:hover {
    @apply rounded-lg;
    background: linear-gradient(
      85.2deg,
      rgba(58, 0, 77, 0.8) 7.5%,
      rgba(122, 0, 135, 0.6) 88.7%
    );
  }

  .leftsidebar-link.active,
  .leftsidebar-link:hover {
    color: #fff;
    transform: scale(1.05);
  }

  .leftsidebar-link img,
  .leftsidebar-link svg {
    transition: transform 0.3s ease-in-out;
  }

  .leftsidebar-link:hover img,
  .leftsidebar-link:hover svg {
    transform: rotate(12deg);
  }

  .vertical-indicator {
    position: absolute;
    left: 0;
    width: 4px;
    background: rgb(224, 9, 73);
    border-radius: 2px;
    transition:
      top 0.3s cubic-bezier(0.4, 0, 0.2, 1),
      height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 3;
    animation: stretch-and-shrink 0.3s ease-in-out;
  }

  @keyframes stretch-and-shrink {
    0%,
    100% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(1.5);
    }
  }

  /* Post Card */
  .post-card {
    position: relative;
    background: rgba(5, 4, 2, 0.253);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(117, 115, 115, 0.211);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(5, 4, 2, 0.16);
    @apply rounded-3xl border p-5 lg:p-7 w-full max-w-screen-sm;
  }

  .pin-icon-container {
    position: relative;
    display: inline-block;
  }

  .tooltip-verified {
    visibility: hidden;
    width: 100px;
    background-image: linear-gradient(
      85.2deg,
      rgb(24, 54, 153) 7.5%,
      rgb(41, 124, 202) 88.7%
    );
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 9999;
    top: 40%;
    left: 110%;
    transform: translate(0, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: x-small;
  }

  .tooltip-verified-creator {
    visibility: hidden;
    width: 80px;
    background: linear-gradient(45deg, #ff8a00, rgba(150, 109, 12, 0.679));
    color: #fff;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
    position: absolute;
    z-index: 9999;
    top: 40%;
    left: 110%;
    transform: translate(0, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: x-small;
  }

  .pin-icon-container:hover .tooltip-verified-creator {
    visibility: visible;
    opacity: 1;
    z-index: 9999;
  }

  .pin-icon-container:hover .tooltip-verified {
    visibility: visible;
    opacity: 1;
    z-index: 9999;
  }

  .glassmorphism-search {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.5rem 1rem;
  }

  .glassmorphism-input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    width: 100%;
  }

  .glassmorphism-input:focus-within {
    border: none;
    outline: none;
    box-shadow: none;
  }

  .tooltip {
    visibility: visible;
    width: 100px;
    background-image: linear-gradient(
      85.2deg,
      rgb(24, 54, 153) 7.5%,
      rgb(41, 124, 202) 88.7%
    );
    backdrop-filter: blur(70px);
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: x-small;
  }

  .tooltip {
    visibility: visible !important;
    opacity: 2;
  }

  .post-card_img {
    @apply h-64 xs:h-[400px] lg:h-[450px] w-full rounded-[24px] object-cover mb-5;
  }

  .post-card-pinned {
    background: rgba(5, 4, 2, 0.253);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(117, 115, 115, 0.211);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(5, 4, 2, 0.16);
    @apply rounded-3xl border p-5 lg:p-7 w-full max-w-screen-sm;
    position: relative;
    overflow: hidden;
    animation: moveBorder 1.5s linear infinite;
  }

  @keyframes moveBorder {
    0%,
    100% {
      box-shadow: 0 0 5px rgba(124, 13, 87, 0.692);
    }

    25% {
      box-shadow: 5px 0 5px rgba(136, 23, 98, 0.5);
    }

    50% {
      box-shadow: 0 5px 5px rgba(136, 23, 98, 0.5);
    }

    75% {
      box-shadow: -5px 0 5px rgba(136, 23, 98, 0.5);
    }
  }

  .pin-icon {
    animation: hvr-hang-sink 2s;
    animation-iteration-count: infinite;
  }

  @keyframes hvr-hang-sink {
    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(8px);
    }
  }

  /* Topbar */
  .topbar {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.573) !important;
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgb(85, 38, 97) 0%,
      rgb(44, 5, 44) 90%
    );
    @apply sticky top-0 z-50 md:hidden shadow-lg w-full;
  }

  /* User card */
  .user-card {
    border: 1px solid rgba(5, 4, 2, 0);
    background: rgba(5, 4, 2, 0.168);
    box-shadow: 0 4px 30px rgba(97, 96, 96, 0.273);
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
    @apply flex-center flex-col gap-4 border rounded-[20px] px-5 py-8;
  }
}

@layer components {
  /* SHADCN COMPONENTS */
  /* Form */

  .general-loader {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #fff;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .shad-form_label {
    @apply text-white !important;
  }

  .shad-form_message {
    @apply text-red !important;
  }

  .shad-input {
    background-image: linear-gradient(
      85.2deg,
      rgb(52, 7, 63) 7.5%,
      rgb(39, 3, 43) 88.7%
    );
    @apply h-12 bg-dark-4 border-none placeholder:text-light-4 focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-light-4 !important;
  }

  .shad-textarea {
    background-image: linear-gradient(
      85.2deg,
      rgb(52, 7, 63) 7.5%,
      rgb(39, 3, 43) 88.7%
    );
    @apply h-auto bg-dark-3 rounded-xl focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-light-3 !important;
  }

  /* Button */
  .shad-button_primary {
    @apply bg-purple-800 hover:bg-gradient-to-r from-purple-500 to-purple-900 text-light-1 flex gap-2 !important;
  }

  .shad-button_dark_4 {
    @apply h-12 bg-dark-4 px-5 text-light-1 flex gap-2 !important;
  }

  .shad-button_ghost {
    @apply flex gap-4 items-center justify-start hover:bg-transparent hover:text-white !important;
  }
}

.ql-snow .ql-picker-options {
  background: rgb(63, 94, 251) !important;
  background: radial-gradient(
    circle,
    rgb(29, 43, 110) 0%,
    rgba(0, 0, 0, 1) 100%
  ) !important;
}

.PhotoView__PhotoWrap {
  backdrop-filter: blur(8px);
  color: rgba(17, 67, 98, 0.841) 0px 20px 30px -10px;
}

.smooth-transition {
  transition: max-height 0.8s;
  max-height: 1500px;
}

.reply-container {
  display: flex;
  position: relative;
}

.reply-content {
  word-break: break-word;
  white-space: normal;
}

@media (min-width: 768px) {
  .user-card-item {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* animation for like posts */
@keyframes fly {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translate(
        calc(100px + 100px * var(--random-x)),
        calc(-200px - 100px * var(--random-x))
      )
      scale(0.5);
    opacity: 0;
  }
}

.heart {
  position: absolute;
  bottom: 25px;
  left: 25px;
  color: red;
  opacity: 0;
  animation: fly 1.2s ease-in-out forwards;
}

.heart:nth-child(1) {
  animation-delay: 0s;
}

.heart:nth-child(2) {
  animation-delay: 0.1s;
}

.heart:nth-child(3) {
  animation-delay: 0.2s;
}

.heart:nth-child(4) {
  animation-delay: 0.3s;
}

.heart:nth-child(5) {
  animation-delay: 0.4s;
}

/* Improved Shimmer Effect */
@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.shimmer {
  animation: shimmer 3s infinite linear;
  background: linear-gradient(to right, #333 0%, #777 50%, #333 100%);
  background-size: 1000px 100%;
}

.comment-container {
  position: sticky;
  border-radius: 100px;
  display: flex;
  outline: none;
  color: rgb(0, 65, 126);
}